body{
	background-color:grey;
}
h1{
color:white;	
}

h3{
color:gold;	
}
p{
	color:gold;
	
}

h2{
	color:white;
}


.footer{
	
	
	
	left: 0;
	bottom:0;
	width:100%;
	background-color: white;
	color:black;
	text-align:center;
}





































